<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.IO App</title>

    <!-- jQuery (optional, only if you really need it) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Socket.IO client (BEST PRACTICE) -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <button>Trigger 8000 Port Socket</button>
    <button>Trigger 8005 Port Socket</button>

    <script>
      $(document).ready(function () {});
    </script>
  </body>
</html>
